body{
    background: black;
}
.big2{
    width: 100%;
    height: 100%;
    margin: 0px auto;
    background: black;
    font-family: Arial, Helvetica, sans-serif;
    
}
header{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    color:white;
    position: fixed;
    width: 100%;
    /* height: 100%; */
}
.main{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: top;
    width: 50%;
    height: 13vh;
    padding:left 20vh;

}
.mini{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: flex-end;
    align-items: top;
    width: 50%;
    height: 13vh;
}
nav{
    background: rgb(15, 14, 12);
    color:white;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
    height: 18vh;
    position: fixed;
    width: 100%;
    margin-top:8vh;
}
h2{
    font-size: 20px;
    padding: 4vh;
    margin: 0px;
    font-weight: 600;
}
a{
    color:white;
    
}
.ma_in{
    padding:2vh;
}
.ma_in:hover{
    background:rgb(24, 21, 19);
    text-decoration: none;
    color:white;
    height: 100%;
}
.me_nu{
    padding: 7vh 2vh;
}
.me_nu:hover{
    background:rgb(24, 21, 19);
    height: 100%;
    text-decoration: none;
    color:white;
}
section{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    
}
.mi_ni{
    padding:2vh;
}
.mi_ni:hover{
    background:rgb(24, 21, 19);
    height: 100%;
    text-decoration: none;
    color:white;
}
.menu_mini{
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.logo_mini{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 30vh;
    border-radius: 15px;
    border:3px solid white;
    color: white;
}
.adress_mini{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.logo_bottom{
    padding: 5px 0px 5px 0px;
    margin: 0px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}
hr{
    padding: 0px;
    margin:10px 0 25px 0;
}
.hrlogo_mini{
    padding: 0px;
    margin:10px 0 10px 0;
}
.new{
    display: grid;
    grid-template-areas:"col1 col2";
    height: 120vh;
    width: 100%;
    padding-top: 24vh;
    
}
.sets{
    grid-area: col1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100%;
}
.block{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}
.block1,.block2{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    width: 40vh;
    height: 60vh;
    border-radius: 22px;
    border:1px solid silver;
    margin: 20px;
    padding: 0px;
    box-sizing: content-box;
}
.im_g{
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
}
.set{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-weight: 500;
}
.red{
    grid-area: col2;
    background: url(../img/shary3.jpg);
    background-size: contain;
    background-repeat:no-repeat ;
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

}
.red_text{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
}
.re_d{
    border:1px solid white;
    padding: 10px;
}
.re_d:hover{
    background:rgb(24, 21, 19);
    height: 100%;
    text-decoration: none;
    color:white;
}
.gold{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100%;
    height: 100%;
}
.gold_img{
    width: 140vh;    
    height:100vh ;
}
.gold_mini{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    box-sizing: content-box;
}
hr{
    padding: 0px;
    margin:10px 0 25px 0;
}
.go_ld{
    border:1px solid white;
    padding: 10px;
}
.go_ld:hover{
    background:rgb(24, 21, 19);
    height: 100%;
    text-decoration: none;
    color:white;
}
@media(max-width:768px){
    .red{
        background: url(../img/shary3.jpg);
        background-size: cover;
        background-repeat:no-repeat ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .gold{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .new{
        grid-template-areas:"col1"
                            "col2";
                
    }
    body{
        background:black ;
    }
    section{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        height: 50vh;
        
    }
    header{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: none;
        
    }
    .main{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: top;
        width: 100%;
        height: 13vh;
        
    }
    .mini{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: top;
        width: 100%;
        height: 13vh;
    }
    nav{
        background: rgb(15, 14, 12);
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 18vh;
        width: 100%;
        position: none;
        
    }
}
